	body{
	font-family: helvetica;
	margin:1%;
	border: 1px grey solid;
	text-align: center;
	padding: 0px 0px 20px 0px;
	}
	
	main{
	margin:1%;
	padding: 0px 0px 80px 0px;
	border-top: 1px grey solid;
	display: inline-block;
	}
	
	.div_out{
	box-sizing: border-box;
	background-color: #f1ebef;
	float:left;
	display: inline-block;
	width: 350px;
	height: 300px;
	margin: 0px;
	text-align: left;
	margin: 10px 10px 10px 10px;
	border: 2px grey solid;
	
	}
	
    .div_in{
	float:right;
	width: 30%;
	height: 25px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	border-left: 2px grey solid;
	border-bottom: 2px grey solid;
	}
	
	.text_out {
	text-align: justify;
	font-size: 14px;
	padding: 35px 10px 10px 10px;
	}
	
	.span_in {
	text-align: center;
	font-size: 14px;
	}
	
	#chicken{
	background-color: #ec9f88;
	}
	
	#beef{
	background-color: #FF5722;
	}
	
	#sushi{
	background-color: #ffef63;
	}
	
	@media (min-width: 768px) and (max-width: 991px)
	{
				#beef_out{
				float:right;
				}
				
				#sushi_out{
				clear:left;
				width: auto;
				}
	}
	
	
	@media (min-width: 1px) and (max-width: 767px)
	{
				#sushi_out{
				float:left;
				}
	}
	